body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #6D67E4;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

.light-gray-text {
    color: darkgray;
}

/* ------------------------------------------Navbar----------------------------------- */
.navbar {
    background-color: #453C67;
    padding: 20px 0px 20px 40px;
}

.navlinks {
    margin: 0;
    padding: 21px;
    color: #F0F5F9;
    font-size: 1.5rem;
    border: none;
}

.navlinks:hover {
    background-color: #8D72E1;
}

.user_nav {
    float: right;
}

.signup {
    margin: 0;
    padding: 21px 30px 21px 30px;
    border: none;
    background-color: #FFFFFF;
    color: black;
    font-size: 1.5rem;
}

.signup:hover {
    background-color: #8D72E1;
    color: #F0F5F9;
}

/* ------------------------------------------User profile----------------------------------- */

.main {
    margin: 50px 100px;

}

.user-profile-card {
    display: grid;
    grid-template-areas:
        "area-1 area-2 area-2"
        "area-1 area-3 area-4"
        "area-5 area-5 area-5";
    width: 300px;
    padding: 0px 20px;
}

.profile-pic {
    display: flex;
    width: 150px;
    grid-area: area-1;
}

.user-full-name {
    display: flex;
    grid-area: area-2;
}


.form-card {
    margin-top: 20px;
    width: 350px;
    max-width: 350px;
    height: 450px;
    background: #FFFFFF;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.input-fields {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
}

.profile-pic {
    margin: 20px;
}

.button-link-user-edit {
    display: flex;
    grid-area: area-3;
    display: block;
    background-color: #2c70ee;
    text-align: center;
    color: #F0F5F9;
    border: #2c70ee solid 2px;
}

.button-link-user-delete {
    display: flex;
    grid-area: area-4;
    display: block;
    background-color: white;
    text-align: center;
    color: #df4c4c;
    border: #df4c4c solid 2px;
}

.button-small {
    width: 50px;
    padding: 5px 10px;
    margin: 5px;
}

.button-large {
    width: 150px;
    padding: 10px 0px;
}

/* ------------------------------------------BUTTON Links----------------------------------- */
.button-link {
    display: inline-block;
    margin-top: 30px;
    width: 153px;
    padding: 10px 0px;
    background-color: #439da3;
    text-align: center;
    color: #F0F5F9;
    border: none;
    font-size: 1rem;
    border: #439da3 solid 2px;
    ;
}

.button-link:hover {
    background-color: #159ba5;
}

.button-link-user-cancel {
    margin-top: 5px;
    width: 150px;
    padding: 10px 0px;
    background-color: #52616B;
    text-align: center;
    color: #F0F5F9;
    border: #52616B solid 2px;
}

.button-center {
    margin-left: auto;
    margin-right: auto;
}

.button-inline {
    display: inline-block;
}


/* ---------------------------------------POSTS--------------------------- */
.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.multi-post-container {
    margin-top: 20px;
    width: fit-content;
    block-size: fit-content;
    width: 80%;
    max-width: 80%;
    height: 50%;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

.post-form-card {
    margin-top: 20px;
    width: fit-content;
    block-size: fit-content;
    width: 500px;
    max-width: 500px;
    height: 500px;
    background: #FFFFFF;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

#post-content {
    width: 80%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    resize: none;
    text-align: left;
}

.small-username {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 0.8rem;
}

#post-title {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
}

.post-card {
    margin-top: 20px;
    width: fit-content;
    block-size: fit-content;
    width: 80%;
    max-width: 80%;
    height: 50%;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: -3px -3px 10px rgba(0, 0, 0, 0.1), 4px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: left;
}

.profile-posts-headers {
    margin-left: 50px;
}