{% extends 'base.html' %}

{% block title %}User Page{% endblock %}

{% block content %}
<div class='main-container'>
    <div class='user-profile-container'>
        <div class='user-profile-card'>
            {% if user.image_url %}
            <img class='profile-pic' src='{{ user.image_url }}' alt="profile picture">
            {% else %}
            <img class='profile-pic' src='/static/profile.jpg' alt="profile picture">
            {% endif %}
            <h2 class='user-full-name'>{{ user.first_name }} {{ user.last_name }}</h2>
            <a href='/users/{{user.id}}/edit'>
                <div class='button-link-user-edit button-small' role="button">Edit</div>
            </a>
            <a href='/users/{{user.id}}/delete'>
                <div class='button-link-user-delete button-small' role="button">Delete</div>
            </a>
        </div>
        <div class='profile-posts-headers'>
            <a href='/users/{{user.id}}/posts/new'><div class='button-link' role="button">Add Post</div></a>
            <h3>Posts</h3>
        </div>

            {% if posts %}
                <ul class='user-posts'>
                    {% for post in posts %}
                    <div class='user-profile-container'>
                        <li>
                            <h4><a href='/posts/{{post.id}}'>{{ post.title[0:30] }}...</a></h4>
                            <span><small><b>Author: {{user.first_name}} {{user.last_name}}</b></small></span>
                            <i><small>Created on: {{ post.create_at }}</small></i>
                            <p>{{ post.content[0:250]}}</p>
                        </li>
                    </div>
                    {% endfor %}
                </ul>
            {% else %}
                <p>This user has not created any posts</p>
            {% endif %}
    </div>
</div>

{% endblock %}